.heroimage {
    height: 100vh;
    width: 100%;
    background-image: url("../assets/images/background.png");
    background-size: cover;
    /* background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d); */
    /* background: linear-gradient(to right, rgb(255, 78, 80), rgb(249, 212, 35)); */
    /* background-image: linear-gradient( 109.6deg, rgba(62, 161, 219, 1) 11.2%, rgba(93, 52, 236, 1) 100.2%); */
}

footer {
    height: 400px;
    width: 100%;
}

.maskedText {
    background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
    background-clip: text;
    color: transparent;
}

.hero {
    padding-left: 50%;
    padding-top: 10%;
    font-size: 5vw;
}